
@*@{
    ViewBag.Title = "Faq";
}

<h2>Faq</h2>*@
<style type="text/css">
font-face {
	font-family: FreesiaUPC;
	src: url('/fonts/FreesiaUPC.eot');
	src: local('☺'), url('/fonts/FreesiaUPC.woff') format('woff'), url('/fonts/FreesiaUPC.ttf') format('truetype'), url('/fonts/FreesiaUPC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#view-content table tr td p {
	font-family: FreesiaUPC;
	font-size: 24px;
	color: #18213A;
}
.green {
	color: #139DB6;
}
#view-content table tr td .green {
	color: #139DB6;
}
#view-content table tr td .green {
	font-style: normal;
}
#view-content table tr td .green {
	font-weight: bold;
}
</style>
<div id="view-content">
    <table width="65%" border="0" align="center">
        <tbody>
            <tr>
                <td>
                    <p style="font-family: FreesiaUPC; font-size: 28px; font-weight: bold; color: #03C; font-style: normal;"><img src="~/icon/faqs.jpg" width="65%"></p>
                    <br>
                    <p style="font-family: FreesiaUPC; font-size: 24px; font-weight: bold; color: #139DB6; font-style: normal;">เรื่องการลงทะเบียนและค่าธรรมเนียม</p>
                    <p><strong>1.	สำรองที่นั่งสัมมนาได้อย่างไร ?</strong></p>
                    <p>- วิธีที่ 1 ลงทะเบียน online จาก web นี้ในหมวดลงทะเบียน ท่านสามารถกรอกข้อมูลเพื่อสำรองที่นั่งและเลือกหัวข้อสัมมนาช่วงบ่ายของแต่ละวันได้เลย</p>
                    <p>- วิธีที่ 2 Download ใบสมัครจาก web นี้ในหมวดลงทะเบียน เพื่อกรอกข้อมูลและส่งใบสมัครมาที่ e-mail: academy@rfs.co.th หรือ fax : 0-2688-6556 เพื่อสำรองที่นั่ง</p>
                    <p><strong>2.	จำไม่ได้ว่าสำรองที่นั่งหรือยัง ?</strong></p>
                    <p>- ตรวจสอบสถานะการลงทะเบียนได้ที่ หมวดลงทะเบียน =&gt; ตรวจสอบสถานะ เพียงกรอกชื่อ นามสกุล กดปุ่ม Done ระบบจะแสดงผลการลงทะเบียนของท่าน</p>
                    <p><strong>3.	จำเป็นต้องเลือกห้องสัมมนาช่วงบ่ายหรือไม่ ?</strong></p>
                    <p>- จำเป็นค่ะ เนื่องจากการสัมมนาในช่วงบ่ายของแต่ละวันแบ่งออกเป็น 2 ห้อง ตามหัวข้อที่ท่านสนใจ จึงต้องสำรองที่นั่งล่วงหน้าค่ะ</p>
                    <p><strong>4.	ปิดรับสมัครวันไหน ?</strong></p>
                    <p>- สำรองที่นั่งได้ถึงวันที่ 11 พฤศจิกายน 2559</p>
                    <p><strong>5.	รับผู้เข้าสัมมนากี่ท่าน ?</strong></p>
                    <p>- 400 ท่าน ค่ะ</p>
                    <p><strong>6.	ค่าสัมมนาคนละเท่าไหร่ ?</strong></p>
                    <p>- สัมมนาจำนวน 2 วัน ค่าธรรมเนียม รวมภาษีมูลค่าเพิ่ม 7 % แล้ว ราคาท่านละ 3,000 บาท ซึ่งหน่วยงานสามารถหักภาษี ณ ที่จ่ายได้ ตามเงื่อนไขการจดทะเบียนของหน่วยงานท่าน</p>
                    <p><strong>7.	ชำระเงินอย่างไรได้บ้าง ?</strong></p>
                    <p>- วิธีที่ 1 โอนเงินผ่านธนาคาร ชื่อบัญชี บริษัท อาร์เอฟเอส จำกัด สาขาอาคารสมเด็จพระเทพรัตน์ ธนาคารกสิกรไทย ประเภทออมทรัพย์ เลขที่ 879-2-00563-3</p>
                    <p>- วิธีที่ 2 จ่ายด้วยเช็คสั่งจ่ายในนาม บริษัท อาร์เอฟเอส จำกัด และนำส่งในวันสัมมนา</p>
                    <p>ทั้ง 2 วิธี กรุณาส่งหลักฐานการโอนเงินหรือหน้าเช็คมายังบริษัทล่วงหน้าเพื่อจัดเตรียมใบเสร็จให้ท่านค่ะ </p>
                    <p><strong>8.	รับใบเสร็จได้อย่างไร ?</strong></p>
                    <p>- รับใบเสร็จที่หน้างานในวันสัมมนาค่ะ ทั้งนี้หากหน่วยงานหัก ณ ที่จ่ายบริษัท กรุณานำเอกสารการหัก ณ ที่จ่าย ส่งกับเจ้าหน้าที่การเงินในวันสัมมนาด้วยค่ะ</p>
                    <p><strong>9.	วิธีการคิดหัก ณ ที่จ่าย คำนวณอย่างไร ?</strong></p>
                    <p>- กรณีที่หน่วยงานจะหัก ณ ที่จ่าย คำนวณได้ดังนี้</p>
                    <p>(จำนวนคนสัมมนา x ค่าธรรมเนียม (3,000 บาท)) / (1.07 x เปอร์เซนต์หัก ณ ที่จ่าย ตามเงื่อนไขการจดทะเบียนขององค์กรท่าน)</p>
                    <p><strong>10.	ที่อยู่ออกใบหัก ณ ที่จ่าย บริษัท อาร์เอฟเอส จำกัด คือ ?</strong></p>
                    <p>- ข้อมูลเพื่อการออกเอกสารหัก ณ ที่จ่าย ดังนี้ค่ะ</p>
                    <p>
                        บริษัท อาร์เอฟเอส จำกัด	  เลขที่ 270 อาคารสมเด็จพระเทพรัตน์ โรงพยาบาลรามาธิบดี ถนนพระรามที่ 6
                        แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400
                        เลขประจำตัวผู้เสียภาษีอากร  0105554008762
                    </p>
                    <p><strong>11.	ลงทะเบียนไว้แล้วยกเลิกได้หรือไม่ และจะได้เงินคืนหรือไม่ ?</strong></p>
                    <p>- ได้ค่ะ กรุณาแจ้งยกเลิกล่วงหน้า 7 วันก่อนสัมมนา บริษัทยินดีคืนเงินให้ภายหลังการสัมมนาเสร็จสิ้นไม่เกิน 30 วัน ทั้งนี้หากแจ้งยกเลิกเกินกำหนด บริษัทขอสงวนสิทธิ์การคืนเงินค่ะ</p>
                    <p><strong>12.	Slide วิทยากรบรรยายมีให้หรือไม่ ?</strong></p>
                    <p>- ท่านสามารถ Download Slide ประกอบการบรรยายได้ หลังการสัมมนาเสร็จสิ้น 7 วันทำการ จากเว๊ปไซด์นี้เลยค่ะ www.THFMseminar.com ในหมวดข้อมูลสัมมนา =&gt;เอกสารประกอบ =&gt; สัมมนาปี 59</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>&nbsp;</p>
                    <p class="green">ข้อมูลด้านสถานที่สัมมนา	  </p>
                    <p><strong>1.	จัดที่ไหน เดินทางอย่างไรได้บ้าง ?</strong></p>
                    <p>- จัดที่โรงแรมโกลเด้นทิวลิป ซอฟเฟอริน กรุงเทพ (พระราม 9)</p>
                    <p><strong>วิธีการเดินทาง</strong></p>
                    <p>1.	โดยรถส่วนตัว/Taxi : รายละเอียด<a href="~/icon/detail.pdf">ตามเอกสารแนบ</a>ค่ะ</p>
                    <p>2.	โดย Airport Link : สามารถลงที่สถานีมักกะสัน และต่อรถแท็กซี่/ หรือมอเตอร์ไซด์รับจ้าง มาถึงโรงแรมได้เลยค่ะ</p>
                    <p>3.	โดย MRT : สามารถลงที่สถานีพระราม9 ประตู3 และต่อรถแท็กซี่/ มอเตอร์ไซด์รับจ้าง/ หรือใช้บริการรถ Shuttle Van ที่มีตามรอบเวลาค่ะ โดยจุดรับ-ส่ง จะอยู่ตรงบริเวณฝั่งโรบินสัน(ฝั่งขวาของห้าง ถ้าหันหน้าออกถนนรัชดา) รอบและเวลาของ Shuttle Van ดูตามข้อมูลด้านล่างค่ะ</p>
                    <p><img align="center" src="~/icon/Shuttle.jpg" width="80%"></p>
                    <p>&nbsp;</p>
                    <p><strong>แผนที่โรงแรม</strong></p>
                    <p>&nbsp;</p>
                    <p><img align="center" src="~/icon/map-gold-tulip.jpg" width="80%"></p>
                    <p>&nbsp;</p>
                    <p><strong>2.	สำรองห้องพักอย่างไร ? ค่าใช้จ่ายเท่าไหร่ ?</strong></p>
                    <p>- ท่านสามารถสำรองห้องพักได้โดยตรงกับโรงแรม เพียงแจ้งว่าเป็นผู้เข้าร่วมสัมมนาของบริษัท อาร์เอฟเอส จำกัด จะได้ราคาที่มีส่วนลดแล้ว ดังนี้</p>
                    <p>ห้องเดี่ยว/ห้องคู่ : 2,500 บาท</p>
                    <p>เตียงเสริม : 1,000 บาท</p>
                    <p>*ราคานี้รวมอาหารเช้า</p>
                    <p>หมายเลขโทรศัพท์ติดต่อโรงแรม : 02-641-4777 # 8712, 8713</p>
                    <p><strong>3.	มีรถโรงแรมรับส่งสนามบินดอนเมืองและสุวรรณภูมิหรือไม่ ?</strong></p>
                    <p>- ดอนเมือง : รถเก๋ง(3ท่าน) 900 บาท/เที่ยว    : รถตู้ (8-10ท่าน) 1,300 บาท/เที่ยว</p>
                    <p>- สุวรรณภูมิ : รถเก๋ง (3ท่าน) 800 บาท/เที่ยว   : รถตู้ (8-10ท่าน) 1,200 บาท/เที่ยว</p>
                    <p>** ซึ่งหากท่านผู้เข้าสัมมนาต้องการใช้บริการรถตู้รับส่งสามารถแจ้งโดยตรงกับโรงแรมค่ะ</p>
                    <p><strong>4.	โรงแรมที่สัมมนามีที่จอดรถหรือไม่ ?</strong></p>
                    <p>- มีที่จอดรถรวม 495ที่ โดยผู้เข้าสัมมนาสามารถ Stamp บัตรจอดรถได้ (จะไม่เสียค่าที่จอดค่ะ)</p>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>