
@*@{
    ViewBag.Title = "Intro";
}

<h2>Intro</h2>*@

<table width="65%" border="0" align="center">
    <tbody>
        <tr>
            <td>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #139DB6"><img src="/icon/intro.jpg" width="65%"></p>
                <br>
                <p style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C">ระบบสนุนทางการแพทย์ มีความสำคัญต่อความสำเร็จและคุณภาพทางการแพทย์อย่างยิ่ง โดยเฉพาะในยุคที่ความก้าวหน้าทางเทคโนโลยีก้าวเข้ามามีบทบาทมากขึ้นต่อประเทศและสังคมโลก การสัมมนา The2nd THFM เทคโนโลยีเพื่อการยกระดับระบบสนับสนุนการแพทย์ (Technology of Healthcare Facility Management) จะนำท่านเตรียมพร้อมกับการปรับใช้เทคโนโลยีอย่างชาญฉลาด ทั้งระบบการบำรุงรักษาอาคารโรงพยาบาล เครื่องมือแพทย์ นวัตกรรมการบริหารโรงพยาบาล และการเข้ามาของ Internet of medical things กับอันตรายหรือความปลอดภัยที่ควรคำนึงถึง ตลอดจนการใช้เทคโนโลยีช่วยในการสร้าง Green hospital เพื่อยกระดับการรักษาพยาบาลอย่างคุ้มค่าที่สุด</p>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #15385C">Thailand Healthcare Facility Management Excellence Seminar</p>
                <p style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C">การสัมมนาความเป็นเลิศในการบริหารระบบสิ่งสนับสนุนโรงพยาบาล จัดโดย คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี ร่วมกับ สถาบันรับรองคุณภาพสถานพยาบาล (สรพ.) ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่งชาติ (NECTEC) และ บริษัท อาร์เอฟเอส จำกัด โดยมุ่งเน้นการพัฒนาและยกระดับมาตรฐานการบริหารจัดการด้านระบบสิ่งสนับสนุนโรงพยาบาลสู่มาตรฐานระดับสากล</p>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #15385C">HIGHLIGHTS</p>
                <p>
                    <span style="font-weight: bold; font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #139DB6">•WORLD CLASS &amp; BEST PRACTICE: </span><span style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C"> นำเสนอผลการทำ Benchmark survey ปีที่ผ่านมาที่เป็นผลสำคัญ และมีความน่าเชื่อถือตามหลักสถิติ และสอดคล้องกับผลของสากล เพื่อสร้างความตระหนักถึงการเก็บผลของหน่วยงานต่างๆ </span><br>
                    <span style="font-weight: bold; font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #139DB6">•FACTs of THAILAND PRACTICE: </span><span style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C"> ครั้งแรกกับการนำเสนอผลการสำรวจแนวปฏิบัติของประเทศไทย ในการบริหารจัดการระบบสิ่งสนับสนุนโรงพยาบาล ที่สอดคล้องกับ Benchmark ระดับสากล แยกตามกลุ่มโรงพยาบาล ทั้งขนาดและประเภท รวมถึงตัวชี้วัดสำคัญที่สามารถนำไปใช้ได้จริง</span><br>
                    <span style="font-weight: bold; font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #139DB6">•EXPERT PANEL: </span><span style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C">การเสวนาเชิงลึก การนำเทคโนโลยีไปใช้ในระบบสิ่งสนับสนุนของประเทศไทย </span><br>
                    <span style="font-weight: bold; font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #139DB6">•PRACTICE WORKSHOP: </span><span style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C">เข้าใจแนวปฏิบัติที่ดีในการบริหารระบบสิ่งสนับสนุน พร้อมโอกาสในการนำบริบทของโรงพยาบาลหรือหน่วยงานท่านมาใช้ในการ Workshop เพื่อให้ได้แนวทางที่สามารถนำกลับไปปฏิบัติต่อได้จริง</span><br>
                </p>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #15385C">เหมาะสำหรับ</p>
                <p style="font-family: FreesiaUPC; text-align: justify; font-size: 24px; color: #15385C">ผู้บริหารสถาบันการศึกษาจากคณะแพทยศาสตร์  ผู้บริหารโรงพยาบาล  ผู้บริหารงานด้านระบบสนับสนุนโรงพยาบาล วิศวกรรมอาคารและวิศวกรรมการแพทย์  นักเทคโนโลยีและนักวิจัยที่เกี่ยวข้องกับการแพทย์</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>