
@*@{
    ViewBag.Title = "Lecture";
}

<h2>Lecture</h2>*@

<table width="65%" border="0" align="center">
    <tbody>
        <tr>
            <td>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #15385C"><img src="~/icon/lecturer_head.jpg" width="65%"></p>
                <br>
            </td>
        </tr>
        <tr>
            <td><img src="~/icon/lecturer.png" width="100%"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>