
@*@{
    ViewBag.Title = "Place";
}

<h2>Place</h2>*@
<style type="text/css">
font-face {
	font-family: FreesiaUPC;
	src: url('/fonts/FreesiaUPC.eot');
	src: local('☺'), url('/fonts/FreesiaUPC.woff') format('woff'), url('/fonts/FreesiaUPC.ttf') format('truetype'), url('/fonts/FreesiaUPC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.text-detail-hard {
	font-family: FreesiaUPC;
	font-weight: bold;
	color: #15385C;
	font-size: 24px;
}
.text-detail {
	font-family: FreesiaUPC;
	font-weight: normal;
	color: #15385C;
	font-size: 24px;
}
.text-h1 {
	color: #139DB6;
}
.text-h2 {
	color: #139DB6;
}
</style>
<table width="65%" border="0" align="center">
    <tbody>
        <tr>
            <td>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 26px; color: #15385C"><img src="~/icon/place.jpg" width="65%"></p>
                <br>
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: justify; font-size: 36px; color: #139DB6"><span class="text-h2">โรงแรมโกลเด้นทิวลิป ซอฟเฟอริน กรุงเทพ (พระราม 9)</span></p>
                <br>
                <p class="text-detail-hard"><strong>วิธีการเดินทาง</strong></p>
                <p class="text-detail">1.	โดยรถส่วนตัว/Taxi : รายละเอียด<a href="~/icon/detail.pdf">ตามเอกสารแนบ</a>ค่ะ</p>
                <p class="text-detail">2.	โดย Airport Link : สามารถลงที่สถานีมักกะสัน และต่อรถแท็กซี่/ หรือมอเตอร์ไซด์รับจ้าง มาถึงโรงแรมได้เลยค่ะ</p>
                <p class="text-detail">3.	โดย MRT : สามารถลงที่สถานีพระราม9 ประตู3 และต่อรถแท็กซี่/ มอเตอร์ไซด์รับจ้าง/ หรือใช้บริการรถ Shuttle Van ที่มีตามรอบเวลาค่ะ โดยจุดรับ-ส่ง จะอยู่ตรงบริเวณฝั่งโรบินสัน(ฝั่งขวาของห้าง ถ้าหันหน้าออกถนนรัชดา) รอบและเวลาของ Shuttle Van ดูตามข้อมูลด้านล่างค่ะ</p>
                <p><img align="middle" src="~/icon/Shuttle.jpg" width="80%"></p>
                <p>&nbsp;</p>
                <p class="text-detail-hard"><strong>แผนที่โรงแรม</strong></p>
                <p>&nbsp;</p>
                <p><img align="middle" src="~/icon/map-gold-tulip.jpg" width="80%"></p>
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>