
@*@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>*@
<table border="0" align="center" class="auto-style7">
    <tbody>
        <tr>
            <td colspan="2" class="auto-style8">
                <br>
                <p>&nbsp;</p>
                <!--<p style="font-family: Conv_FreesiaUPC; font-weight: bold; text-align: center; font-size: 24px; color: #139DB6">-->
                <p style="font-family: FreesiaUPC; font-weight: bold; text-align: center; font-size: 24px; color: #18213A">
                    กำหนดการสัมมนามาตรฐานระบบสิ่งสนับสนุนโรงพยาบาลในประเทศไทย ครั้งที่ 2<br>
                    Thailand Healthcare Facility Management excellence (The2<sup>nd</sup> THFM)<br>
                    Technology for Healthcare facility management
                    <br>
                    <br>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table width="65%" border="0" align="center">
    <tbody>
        <tr>
            <td><img src="~/icon/sch.png"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>

</table>
