
@*@{
    ViewBag.Title = "Survey";
}

<h2>Survey</h2>*@
    <table width="100%" border="0" align="center">
        <tbody>
            <tr>
                <td><center><a href="https://www.surveymonkey.com/r/THFMSurvey2016" target="_blank"><img src="~/icon/THFM_Survey.jpg"></a></center></td>
            </tr>
        </tbody>
    </table>